.hidden {
  display: none;
}

label {
  font-weight: bold;
}

img.rounded {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-color: #e5e5e5;
}

.image-container {
  height: 300px;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.mt-nav {
  margin-top: 3.5rem;
}

.navbar-brand {
  font-family: Courgette, cursive;
}
